// fonts sizes
$font-size-base: 1.8rem;
$font-size-small: 1.5rem;
$font-size-large: 2rem;

// colors
$color-purple-light: rgb(91 95 199);
$color-purple: rgb(68 71 145);
$color-purple-dark: rgb(50 53 112);
$color-white: rgb(255 255 255);
$color-white-dark: rgb(245 245 245);
$color-black: rgb(0 0 0);
